*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*google fonts*/
.open-sans-uniquifier {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
body{
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
}
/*Barra de navegación*/
.contenedor-principal{
    width: 100%;
    background-color: rgba(241, 242, 243, 0.884);
}
.contenedor-header{
    display: flex;
    max-width: 1100px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding: 25px 20px;
}
.contenedor-enlaces ul{
    display: flex;
    list-style: none;
}

.contenedor-enlaces ul li a{
    margin: 0 15px;
    padding: 3px;
    text-decoration: none;
    color: black;
    transition: .5s;
    border-radius: 10px;
    padding: 5px 10px;
}
.contenedor-enlaces i{
    padding-right: 5px;
}
@media screen and (min-width:980px){
.contenedor-enlaces ul li a:hover{
    background-color:  rgba(223, 224, 224, 0.884);
}
}
.icon-xl{
    font-size: 1.5rem;
}
.contenedor-logo{
    display: flex;
}
.contenedor-logo a{
    text-decoration: none;
    color: black;
    transition: .5s;
    border-radius: 10px;
    padding: 5px 5px;
}
.contenedor-logo a:hover{
    background-color:  rgba(223, 224, 224, 0.884);
}
.contenedor-logo p{
    transition: .5s;
    border-radius: 10px;
    padding: 5px 10px;
}
.nav-responsive{
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
    font-size: 1.5rem;
    border: 1px solid rgb(214, 214, 216);
    color: rgb(135, 136, 136);
}

@media screen and (max-width:980px){
    .contenedor-header{
        position: relative;
    }
    .contenedor-enlaces{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        width: 50%;
        background-color: #fff;
        z-index: 1000;
        border-radius: 10px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }

    .contenedor-enlaces.responsive{
        display: flex;
    }
    .contenedor-enlaces ul {
        flex-direction: column;
        padding: 0;
        margin: 0;
    }

    .contenedor-enlaces ul li {
        margin: 10px 0;
        text-align: left;
    }
    .nav-responsive{
        display: block;
    }

    .contenedor-enlaces ul li{
        text-decoration: none;
        color: black;
        transition: .5s;
        border-radius: 10px;
        padding: 10px;
    }
    .contenedor-enlaces ul li:hover{
        background-color:  rgba(223, 224, 224, 0.884);
    }

}